[2014-06-23 19:43] jshamley opened #2 "Installation"
For installation, do you need to install ClamAV on to a local machine or server?

[2014-07-14 17:40] #2 closed, assigned to nobody

[2015-05-28 18:45] nicolaspeixoto opened #3 "using scan_files without file_cb"
Hello,
I found a bug when i'm trying to use scan_files without file_cb parameter:
[code]

This was printed to console:
if(this.settings.debug_mode === true)
					                ^
TypeError: Cannot read property 'debug_mode' of undefined
    at home/user/dev/node_modules/clamscan/index.js:262:22

After i had correted this, it was printed:
return end_cb(err, path, null);
					                   ^
R

[2015-05-29 15:12] kylefarris commented on #3
Thanks for the bug report Nicolas! I see you've put in a PR. I'll review it and merge it in if I can.

[2015-05-29 15:30] kylefarris commented on #3
I apologize for the state that section of the code is in. It looks like the first bug was caused by the dreaded "this" vs "self" annoyance. Your PR addresses that, so that's good. But, you're right... the rest of the code in that block just doesn't make any sense the way I had it. Looks like I copied it from `scan_dir` and never got around to making it right for `scan_files`. It's rather embarrass

[2015-05-29 17:27] nicolaspeixoto commented on #3
Yes Kyle, but no problem about it.

I would help you writing some tests if you want.

[2015-05-29 17:31] kylefarris commented on #3
Thanks Nicolas. I'm writing some tests right now. I'll push them out to github once they're done and you can add any that you'd like to make it more comprehensive--up to you. I'll be using `chai` and `mocha`. After I have the tests up, I will publish the updated module to NPM and close this Issue.

[2015-06-05 13:49] kylefarris commented on #3
Thanks for the pull request Nicolas! I've merged it in, written tests, and published a new version (0.7.0) to NPM. See the History file for details.

[2015-06-05 13:49] #3 closed

[2015-06-05 14:10] kylefarris commented on #3
Just realized the modifications I made to the script now REQUIRE Node > 0.12. I'm in the process of fixing that now. The version and package file has been bumped to 0.7.1 to reflect the requirement of 0.12.

Sorry about that!

[2015-06-05 14:11] kylefarris opened #5 "Package requires 0.12"
It's a bit too soon to be requiring this version--especially since the reason for requiring it is not entirely necessary.

[2015-06-05 14:55] kylefarris commented on #5
Resolved by commit: c0efafed12a2eea49ce62e0a86e0e1d7c51813a7

[2015-06-05 14:55] #5 closed

[2015-06-24 18:29] nicolaspeixoto opened #7 "Socket support"
What do you think about support scan using tcp socket?

[2015-06-24 19:34] kylefarris commented on #7
I'm open to any ideas! Could you elaborate on exactly what you're looking for?

[2015-06-24 19:53] kylefarris commented on #7
Ohhh... I think you mean supporting a remote clamscan server via TCP socket. I definitely think this could be possible but it would take a bit of work. Would you like to try and get this to work? If not, I can put this on the backburner as a really good idea that I don't exactly have time to work on at the moment.

[2015-06-24 22:53] kylefarris commented on #7
I've made a new branch called `sockets` and committed some code to it. The idea was intriguing enough that I think I'll try and get this working sooner rather than later.

[2015-07-02 22:47] kylefarris commented on #7
18 Commits in. Almost there. Just need to tweak a few things and write some tests.

[2015-07-04 13:41] nicolaspeixoto commented on #7
Nice job Kyle!
do you want help in anything?

[2015-07-04 13:48] kylefarris commented on #7
Thanks! I've learned a lot—it's been fun. I think I've got it, though. I'll let you know when I I've lost completed it and you can clone it and test it in your environment to make sure it works as expected. I'll wait for your response before publishing to NPM.

[2015-08-25 20:59] donniev opened #9 "streams"
Is there any way to scan an input stream instead of a file?

[2015-08-25 21:16] kylefarris commented on #9
I'm working on it in the socket branch. Check it out if you want. I'm just working on the final tests before releasing version 0.9 out to NPM.

[2015-08-25 21:16] #9 closed

[2015-08-26 00:07] donniev commented on #9
Great thank you

Sent from my iPhone

[2015-09-03 02:45] ssmlee04 opened #10 "real time scanning on upload"
I wonder if this is supported?  Users will upload base64 image strings and the string could be a malware in disguise. Thanks

[2015-09-03 14:43] kylefarris commented on #10
This type of functionality will be supported in version 0.9 with the introduction of scanning streams and buffers. Check out the `sockets` branch.

[2015-09-03 14:43] #10 closed

[2015-09-08 05:26] kylefarris commented on #7
I just wanted to say that I haven't given up on this, I've just been busy. They code is more or less done at this point, I'm just still working on the test cases and making sure it will work perfectly for everyone when it gets released.

Thanks for your patience--I'm doing this in between my job and other side projects.

[2015-10-06 09:09] taietel opened #11 "Error thrown using clamdscan with scan_recursively false"
I'm using the default config, the only changes are to the clamdscan config_file  and scan_recursively which is set to false so I can get the lists with good / bad files.
This is the error that I get:
[code]
It works fine using the other 'option' to get the 2 lists with good/bad files, using a file_cb function and scan_recursively set to true.

[2015-10-07 02:05] nicolaspeixoto commented on #7
There is no problem about it Kyle. Where did you stop? Could i help you?

[2015-10-07 02:15] kylefarris commented on #11
Thanks for the bug report @taietel. I'll take a look at it and see what's going on.

[2015-10-07 04:00] kylefarris commented on #7
Hey @nicolaspeixoto. Well, you got me motivated tonight so I finished writing the tests. Everything *seems* to be working. I haven't run it through any kind of rigorous real-world examples, yet, but, I think it should work just fine.

What you can do to help is checkout the `sockets` branch of the repository and see if you can run it through some real examples of how you're planning on using it an

[2015-10-07 04:46] kylefarris commented on #11
Alright, the bug's been patched by the following commit: 441c5a65ec7dea433bb4d2f2535dfee2556aa08d

Thanks again for the bug report and sorry for the inconvenience!

[2015-10-07 04:46] #11 closed

[2015-10-07 08:47] taietel opened #12 "Using clamdscan with scan_recursively not working as expected"
I think that the issue with clamdscan and scan_recursively is not entirely fixed or I didn't understood right what needs to output. Now it works, but only shows the files that are directly in that folder, the ones that are in subfolders are not shown, they are not even scanned.

[2015-10-07 08:59] taietel opened #13 "[NFR] Add max_buffer in settings to control nodejs maxBuffer size"
If you try to scan folders with more than 4k files there's a chance to get an error like this `There was an error! Error: stdout maxBuffer exceeded.`, this is because nodejs's buffer is set to 200*1024 bytes.
It would be nice to have a way to control this, without hacking the code inside the module.

[2015-10-07 14:43] kylefarris commented on #12
@taietel Yeah, I think you may have a slight misunderstanding here. With `scan_recursively` set to `false`, the module will not scan sub-directories. `scan_recursively` means to "scan the specified path ***and*** all subpaths". Obviously, if you set that option to `false`, it will not scan all sub-paths. On UNIX, if you run clamdscan manually in the shell, it does this by default but does not give

[2015-10-07 14:43] #12 closed

[2015-10-07 14:46] taietel commented on #12
Ok, thanks for clearing that out for me, I used the solution from your example, since yesterday, and it works.

[2015-10-07 15:41] kylefarris commented on #13
@taietel Thanks again for the bug reporting. This is a scenario that I hadn't come across yet in my own usage of the module. The "simple" solution would be to provide this maxBuffer size option to the module, but, I think that might be rather confusing for some people--not very user-friendly in other words.

The problem is arising from running the following command through the `execFile` method of

[2015-10-11 20:36] nicolaspeixoto commented on #7
Hey @kylefarris, i started to test with a simple script:

[code]
But the scan_file function didn't call the callback function. I think it didn't send the file to the Clamav server too.

This is the log from execution:
[code]

[2016-02-26 00:47] isyaniv opened #14 "Getting virus name after scan"
needs to add the proper regex to get the name of the virus (if the file is infected)

[2017-03-11 06:28] saikatharryc opened #16 "TypeError: clam.is_infected is not a function"
while scanning single file, I'm getting this error.
[code]

[2017-04-19 01:59] erayalakese commented on #16
@saikatharryc  First line should be like this:

`var clam = require('clamscan')();`

[2017-04-26 14:47] kylefarris commented on #16
Thanks for answering that for me @erayalakese.

[2017-04-26 14:47] #16 closed

[2017-04-26 14:50] kylefarris commented on #14
I'm sorry for the lack of response on this issue--been very busy at work on a zillion projects. That said, I'm open to pull requests providing this feature.

[2017-05-22 12:50] farskid opened #17 "Check on file chunk"
I wanna check for viruses on upload process, and the uploader is sending file to server in chunks.
Can the clamscan package verify the health of a chunk and is it safe to assume, if a chunk of file is healthy, so the whole file would be healthy too?

[2017-08-25 10:21] Reiji87 opened #19 "ERROR: Could not lookup : Servname not supported for ai_socktype"
I was trying to run a scan using my node app, during the callback I got an error as follow

`ERROR: Communication error`

So I tried to run the scan manually, the error message is
`ERROR: Could not lookup : Servname not supported for ai_socktype`

The command used for run is:
clamdscan --no-summary --fdpass --config-file=/etc/clamav/clamd.conf /home/ubuntu/testing/up/testing12324

Anyone encounter

[2017-10-06 14:04] shogan94 commented on #19
Did you ever find a solution to this? I just recently started getting this error also. In the meantime I switched to using clamscan instead of clamdscan

[2017-11-29 10:54] adisrika opened #20 "API to scan a byte stream"
I don't see an API mentioned in documentation that will allow me to pass the byte stream. Only option seems to be file location. Just want to know if there is any way to pass the full byte stream of the file to the scan API.

Note: We don't want to store the file on local before calling scan due to limited size of disk space.

[2018-01-04 20:59] kylefarris commented on #20
I started a branch called 'sockets' a while back. It's not fully tested/complete but it may get you what you need. Try it out. If there are any bugs (probably are), please feel free to commit the fixes to that branch.

I still need to write some unit tests for it too.

Been really busy with everything. Sorry for the late response.

[2018-01-19 19:42] richj79 opened #21 "ClamAv produces a warning then file is assumed to be clean"
Hi,

Wondering if this has ever cropped up before:

If you were to run the  example is_infected code on the repo page, and ClamAv was to produce a single warning in it's output the file been checked would be assumed to be clean without it looking at the scanning result from stdout.

This is because if any warnings are raised they are received on stdErr.  Resulting in line 216 been invoked:

    re

[2018-01-19 20:54] #21 closed

[2018-01-19 20:59] richj79 commented on #21
I had missed the fact that the handling of status codes from the exe - would ensure a virus would be reported when warnings have been written to stderr.

[2018-02-02 18:44] derMani commented on #19
The user who runs the node instance, must be in the unix group clamscan.

usermod --groups clamscan --append <user>

This should do the trick

[2018-09-11 14:39] willderazevedo opened #22 "Error when try to build"
When I try to build my Laravel project with clamscan running `npm run dev`, i get an error:

Module not found: Error: Can't resolve 'child_process'.

So i put in webpackconfig this:
node: {
     child_process: 'empty'
}

and i get another error:

Module not found: Error: Can't resolve 'fs'.

Then i put in webpackconfig:

node: {
     child_process: 'empty',
     fs: 'empty'
}

and i get the error:

[2018-09-11 21:34] sripreddyg opened #23 "Getting Error while running clamdscan"
Can someone help to on why I am getting below error while using clamdscan though clamscan working fine.

`Error: Error: Command failed: /usr/local/bin/clamdscan --no-summary --fdpass --config-file=/usr/local/etc/clamav/clamd.conf --multiscan /Users/xxxxx/POC/dog.jpeg`

Below is test code I am using

[code]

[2018-11-30 16:18] kylefarris commented on #17
The latest version that I'm currently working on (you can see the code in the `sockets` branch) will allow you to scan streams of data. In other words, if at any point, the the scanner detects a virus in the stream, the stream can be stopped and handled there. Stay tuned.

[2019-03-23 15:39] DanielRuf opened #24 "Failing CI"
https://travis-ci.org/kylefarris/clamscan/jobs/84028001

Also the Node.js versions uses on CI are a *bit* outdated.
We should test against 6, 8, 10 and 11.

[2019-04-18 01:05] BradleyDHobbs opened #25 "Could not connect to clamd on LocalSocket"
"ERROR: Could not connect to clamd on LocalSocket /var/run/clamd.scan/clamd.sock: Permission denied"

Running this from a directory in the home folder.

Any ideas?

[2019-04-18 15:25] kylefarris commented on #25
Hey @BradleyDHobbs,

It likely has something to do with the permissions of your clamd config. This problem isn't really in the scope of this module, but I'll see if I can help you out anyways. What OS and OS version are you running on? What does your clamav config look like?

[2019-04-19 17:19] BradleyDHobbs commented on #25
Yeah you were right. It was a permissions issue. I have to do some messing around with the virusgroup group. Got it working eventually.

On a side note, any way to use async await and/or promises with the methods?

[2019-05-08 14:52] kylefarris commented on #25
Hey @BradleyDHobbs, I just released version 1.0.0 (big update) last week and it definitely supports Promises and Async/await now. So, please try it out and let me know if you have any issues. You will want to read the release notes for the release as there are some changes to the API (mostly to do with out you init the module).

[2019-05-08 14:52] #25 closed

[2019-05-09 20:01] kylefarris commented on #24
Version v1.x.x+ is testing for v10, v11. I should probably add v12 as well. Also, the tests are passing now. So, yay!

[2019-05-09 20:01] #24 closed

[2019-05-09 20:01] #23 closed

[2019-05-09 20:02] kylefarris commented on #20
Version 1.0.0 is out and supports this feature.

[2019-05-09 20:02] #20 closed

[2019-05-09 20:07] kylefarris commented on #17
Version 1.0.0 is out and supports this feature somewhat. Unfortunately, as cool as it would be to scan chunks of a file, ClamAV doesn't support scanning until the entire stream has been received. I tried to figure out how to get this to work but ultimately concluded that it wouldn't really be possible. And, really, it makes sense because, depending on the size of the chunks, a match it might be lo

[2019-05-09 20:07] #17 closed

[2019-05-09 20:08] #19 closed

[2019-05-09 20:09] kylefarris commented on #14
This has been added as of v1.0.0.

[2019-05-09 20:09] #14 closed

[2019-05-09 20:09] kylefarris commented on #7
Version 1.0.0 is out and supports this feature. Finally.

[2019-05-09 20:09] #7 closed

[2019-05-15 10:01] vasyas opened #30 "Configuration is broken when no local clamav binary available"
Initializing

[code]

Further access fails with
[code]

[2019-06-11 21:35] asabhaney commented on #30
I am encountering this issue as well

[2019-06-19 12:41] thames91 commented on #16
@kylefarris  @erayalakese  this doesn't work anymore -- it throws out
[code]

[2019-06-19 12:42] michaelbats commented on #16
@kylefarris  @erayalakese  sadly this doesn't work anymore, it now throws:
[code]

[2019-06-24 08:31] jk1z opened #32 "is_infected function returns unexpected is_infected attribute"
![Greenshot 2019-06-24 16 34 24](https://user-images.githubusercontent.com/18542127/59997306-1d2e0600-96a0-11e9-9e8d-8234bef9b3bb.png)

[2019-07-18 18:04] vdanyliv opened #33 "TypeError: Assignment to constant variable."
After trying to check directory got this error

[code]
And after some investigation, I found an issue in **scan_files** method.

**line 1087**
[code]
**line 1093**
[code]

**line 1119**
[code]

A pretty easy solution will be to rename a variable in the line 1093

[2019-07-25 20:31] #33 closed

[2019-07-25 20:46] #32 closed

[2019-07-26 15:24] kylefarris commented on #32
This bug is fixed in v1.0.4. Thanks for the bug report.

[2019-07-26 15:24] kylefarris commented on #33
This bug is fixed in v1.0.4. Thanks for the bug report.

[2019-07-26 15:26] #30 closed

[2019-07-31 10:24] ritika-innani opened #34 "Could not find file to scan"
Trying to upload a file with space in the file name, it's throwing this error 'Could not find file to scan!'
After investigation, found that it is replacing the spaces with '\ '
After that it is failing at fs_access function.

[2019-08-12 15:50] NikhilNanjappa opened #35 "Filepath of an uploaded file"
Hi Guys,

First of all, thanks for the brilliant library. It really helped us a lot!

### My issue/question/doubt

I understand that the `.is_infected` (or `.scan_file`) function takes in the absolute path of the file - which works perfectly fine in local.

But, what if the application has an file-upload feature (`<input type="file">`). The application obviously can't get the absolute path of the

[2019-08-12 19:40] kylefarris commented on #35
Hey, no problem... it's not a bad question. You have a couple options. You can either allow the file to upload fully to your server like you normally would and then scan the file in place (wherever the location is that your app uploads to) or you can use the `passthrough` method to scan the raw file stream as it's being uploaded and pipe it on to the final destination (example: S3).

For the passt

[2019-08-12 20:13] kylefarris commented on #34
Replacing spaces with `\ ` is standard Unix procedure but looking at the code, it looks like we're double-up on the back-slashes which would not be what we want. When you say "after that, it is failing at fs_access function", what do you mean? What is it saying? What's the error message?

[2019-08-19 20:41] #35 closed

[2019-08-19 23:35] NikhilNanjappa commented on #35
Awesome! Thanks a lot @kylefarris for the detailed options. It was a great help! 👍

[2019-09-13 15:23] rohinadalja opened #38 "Unknown Command: PING!"
When checking the availability of the clamd service if socket or host/port are provided, the following code in index.js is executed:  `client.write('PING!');`, expecting a response back: `PONG`.

However, the current version of clamd is looking for a PING command without the exclamation point. Hence, clamd seems to reject this as an "UNKNOWN COMMAND". Running the current test suite, we can see the

[2019-09-16 12:59] kylefarris commented on #38
Well, that's interesting. It's gonna make it difficult to write a test if they changed the command on us between versions..., ugh. I'll do some research to see what's going on.

[2019-09-16 13:08] kylefarris commented on #38
After a quick Googling, it looks like there never should have been a "!" at the end of PING in the first place. I'm not sure why that was added but I did a git blame on that line and saw that it was added about 5 months ago. The concerning thing is that tests still passed so I'm going to be looking into the unit test(s) for that bit of code. I've also went ahead and removed the "!" from the comman

[2019-09-16 16:34] kylefarris commented on #38
The new version will actually be `v1.1.0` as I added a new private method `_ping` to the library so that it could be more-easily tested. It's been published to NPM. Thanks for the bug report!

[2019-09-16 16:34] #38 closed

[2020-02-05 04:53] czzyoyo opened #42 "There is EOF error on scanning an infected file by using passthrough"
Scanning an infected file by using 'is_infected' worked well. But there is uncaught error when using passthrough.
W20200120-14:47:30.649(8)? (STDERR) events.js:183
W20200120-14:47:30.650(8)? (STDERR)       throw er; // Unhandled 'error' event
W20200120-14:47:30.650(8)? (STDERR)       ^
W20200120-14:47:30.650(8)? (STDERR)
W20200120-14:47:30.650(8)? (STDERR) Error: stream.push() after EOF
W20200120-

[2020-02-05 06:39] czzyoyo commented on #42
Sorry, There is the pull request, https://github.com/kylefarris/clamscan/pull/41, so close

[2020-02-05 06:39] #42 closed

[2020-04-10 17:25] huntr-helper opened #44 "huntr.dev - Command Injection"
## Vulnerability Description
Affected versions of this package are vulnerable to Command Injection. It is possible to inject arbitrary commands as part of the _is_clamav_binary function located within Index.js.

It should be noted that this vulnerability requires a pre-requisite that a folder should be created with the same command that will be chained to execute. This lowers the risk of this issu

[2020-05-12 03:38] midnightcodr opened #46 "TypeError: clamscan.passthrough is not a function"
I am trying out the passthrough() example but unfortunately I am getting this
[code]
I am initializing the connection options as

[code]
as I am running the clamav service in a docker container (`telnet 127.0.0.1 3310` works btw).

Ideas?

[2020-05-15 07:31] benzino77 opened #47 "get_version() Promise problem"
Hi there,

`get_version()` function does not return reject in case of error
https://github.com/kylefarris/clamscan/blob/5f557c970817fe8c578ec3f7ad3bcbcef4cf5538/index.js#L690

I think that it should be ` return (has_cb ? cb(err, null) : reject(err));`

[2020-05-19 00:30] M0dred opened #49 "sudo freshclam error"
Tue May 19 00:23:11 2020 -> !Failed to load new database: Malformed database
Tue May 19 00:23:12 2020 -> ^Database load exited with "Test failed" (8)
Tue May 19 00:23:12 2020 -> !Database test FAILED.
Tue May 19 00:23:12 2020 -> !Unexpected error when attempting to update database: daily
Tue May 19 00:23:12 2020 -> ^fc_update_databases: fc_update_database failed: Test failed (8)
Tue May 19 00:23:1

[2020-05-19 15:44] kylefarris commented on #49
This may just be because the database server was down? This looks like an issue with `fresclam` not necessarily the clamscan module. Maybe you can give some more context instead of just a log output?

[2020-05-24 04:16] midnightcodr commented on #46
Never mind. I found the cause of the error - I didn't use `.then()` or `await` on the `clamscan` instance. To fix the problem is as simple as
[code]

[2020-05-24 04:16] #46 closed

[2020-05-26 17:11] kylefarris commented on #46
Great! Glad you figured it out. :-) I'm sorry I never saw this issue come through--I would have been happy to point that out.

[2020-05-26 17:12] kylefarris commented on #47
I believe you're right. Surprised the unit tests didn't catch this.

[2020-05-26 19:26] benzino77 commented on #47
Thanks for a merge!

[2020-05-26 19:26] #47 closed

[2020-05-28 01:37] jobachhu opened #51 "No error when server unavailable"
Hi,

I'm setting up clamscan to work with a clamd via a TCP socket using the passthrough() stream to check files that are uploaded. It's working fine but while I was testing different error conditions, I was unable to handle the error when the clamd server is not available. No error is thrown, it just logs a message and then waits until it times out.

This is the log message:
[code]

Here's the ba

[2020-05-28 03:32] kylefarris commented on #47
No problem!

I'll get a new patched version out tomorrow. Going to try to get a few other minor bugs/issues put into it.

Kyle

[2020-05-28 03:42] kylefarris commented on #51
That's interesting. I'm now wondering if I accidentally left out some kind of error handling there or if there was a reason I didn't have it there (hard to test, etc...)? I just merged another PR in yesterday so I'll see if I can figure this out before creating a new patch that will include a fix for this as well as that PR merge.

Thanks for submitting the bug, BTW...

[2020-05-28 06:57] kylefarris commented on #51
Actually, it looks like someone already put a PR (#39) in to fix this but I apparently missed it. I've merged the change in.

[2020-05-28 07:03] #44 closed

[2020-05-28 07:31] #51 closed

[2020-05-28 07:33] kylefarris commented on #51
A released a new minor version on NPM: v1.3.0.

[2020-05-28 11:00] jobachhu commented on #51
Thanks for the quick response! Just upgraded and it works like a charm 👍

[2020-05-28 15:33] midnightcodr commented on #46
No problem. I am so happy to find your library that provides the Stream/Transform ability that I need in my application.

[2020-06-05 18:45] aleksandermanov opened #53 "get_version() throws ENOENT error"
Hello,

calling get_version() throws

[code]

After digging in I found out that the error originates in index.js
https://github.com/kylefarris/clamscan/blob/c499be96135a66f6513651a5302f61f4b303d7ba/index.js#L658

I got it to work by changing it to

[code]

Is there I am doing something wrong when calling it?

[2020-06-05 19:54] #53 closed

[2020-06-19 19:25] GeorgeCalvert opened #55 "Init does not reject errors."
We were trying to catch startup errors in the `init` method but not seeing them.  Thanks to our team member @saijian2008, we found the problem is index.js:571.  It should use `reject` not `resolve`, i.e.:
[code]

[2020-06-22 16:20] kylefarris commented on #55
Interesting... I thought I just resolved this issue with the latest release. I'll go back and check. Thanks!

[2020-08-12 01:09] niftylettuce opened #57 "I have identified a core bug from clamscan init being called in parallel"
It seems like this error occurs if clamscan init is being called in parallel, which would mean that the promise is not being shared, and false information being returned.

[code]

https://travis-ci.com/github/spamscanner/spamscanner/builds/179356176

Related to #55

[2020-08-12 01:09] niftylettuce commented on #55
See #57 @kylefarris - can you please fix this? I would gladly tip you over PayPal a bug bounty award.

Currently using your great project in https://forwardemail.net and https://spamscanner.net.

[2020-08-12 14:52] kylefarris commented on #57
Are you calling the `init` method in a `Promise.all()`? If so, why?

[2020-08-12 14:55] kylefarris commented on #57
Looking at your code, it seems like you're calling `init` outside of the `Promise.all()` so I'm not entirely sure what exactly the issue is. I'd be glad to help if I knew a bit more about what's actually happening. Sorry if I'm misunderstanding.

[2020-08-12 14:56] kylefarris commented on #55
Do you think this is the problem on #57? If so, I'll take care of it really quick.

[2020-08-12 17:08] #55 closed

[2020-08-12 17:08] #57 closed

[2020-08-12 17:13] kylefarris commented on #55
I've patched the module. The patch is available in v1.3.3

[2020-08-12 17:14] kylefarris commented on #57
I've patched the module. The patch is available in v1.3.3. Hopefully this fixes it for you.

[2020-08-12 19:06] niftylettuce commented on #57
Thank you, I'll try it out

[2020-08-13 03:11] niftylettuce opened #59 "Invalid information provided to connect to clamav service"
@kylefarris it seems like #57 and #58 does not resolve the issue I had described.  Below is the stack trace:

[code]

You can reference the source code at https://github.com/spamscanner/spamscanner to see how I implemented it, and let me know maybe if my usage is wrong?  This to me seems like a bug with clamscan, since the config passed clearly has the socket defined, and the error message indicat

[2020-08-14 16:37] kylefarris commented on #59
Actually, I think there might be an issue with your code...

In the following section, you're doing a `Promise.all()` but you don't need to since the map you're running doesn't return any unresolved promises. In fact, it doesn't return anything (which is invalid).

[code]

Something along these lines might be better...

[code]

Let me know if that helps at all.

[2020-08-25 23:03] kylefarris commented on #59
Did this help at all? I'm inclined to close this ticket in a few days under the assumption that you've figured out what's going on.

[2020-08-25 23:06] niftylettuce commented on #59
No, that did not help.  You can use `await Promise.all` even if you don't return anything, that's totally valid.

[2020-08-26 14:29] kylefarris commented on #59
You’re misunderstanding what I’m saying. It’s not the `Promis.all` that’s the problem, it’s you’re `map`. Nothing is actually going into your `Promise.all` method because the map isn’t retuning anything.

The way you currently have it, you might as well just run a `forEach` loop and skip the `Promise.all` altogether.

[2020-08-26 15:29] kylefarris commented on #59
FWIW, I just wrote some tests to verify that the specific scenario you have is working and the tests pass. You can see the new tests here: https://github.com/kylefarris/clamscan/blob/7ea77aecbc28bf7f34dd64e8500adb2280e7b573/tests/index.js#L1262-L1302

There may be something else going on in your code but I'm not sure how to help beyond this. As far as I can test, the `clamscan` module is working f

[2020-08-29 22:22] niftylettuce commented on #59
Thanks for following up here, will close, and follow up if I see it again.

[2020-08-29 22:22] #59 closed

[2020-09-18 14:43] #49 closed

[2020-09-23 13:22] pawansaket opened #61 "Logs are not creating in the tcp host mode"
Hi,
I am trying to use the clamscan in the tcp mode and want to write the logs local file, but it works on local mode and not in the server  using the tcp mode but logs are not appearing in the log file.
my configuration is, I am trying but don't know what is going on.
![image](https://user-images.githubusercontent.com/26107608/94018023-ba10af00-fdcd-11ea-9a78-a34741c5e9f8.png)
![image](https://us

[2020-09-24 17:07] kylefarris commented on #61
Please read the following section in the docs: [A note about using this module via sockets or TCP](https://github.com/kylefarris/clamscan#a-note-about-using-this-module-via-sockets-or-tcp) especially the section under "The following configuration items are not honored (unless the module falls back to binary method)".

Notably, the bullet point:
 * `scan_log` - remote clamd service config will dict

[2020-10-26 14:05] srilumpa opened #64 "Tear connection when timing out"
Hi,

If a timeout occurs when scanning a file in clamdscan mode, the client still waits for the scan to end. It is because in the the `client.end()` method is called when handling the `timeout` event on https://github.com/kylefarris/clamscan/blob/master/index.js#L467 instead of calling `client.destroy()`.

I understand the need to still keep waiting for the scan result even if it took too much tim

[2020-12-10 14:51] fsrenner opened #65 "Need the ability to destroy initialized Clamscan instance"
We have an microservice endpoint that us using clamscan to connect to a running clamAV container instance. We have had some issues with the running container going down from time to time and in the process of debugging the container, we had issues with the globally instantiated clamscan instance holding on to previous connections and not showing the true state of the container connection (we have

[2021-02-11 23:03] chris-maclean opened #66 "Custom config_file not respected by scanner verification"
When I initialize a NodeClam with a custom binary and config file for `clamdscan`, the scanner verification process does not respect the custom config file setting.

Here's my call to `init`:
[code]

and here's the logger output:

[code]

As you can see, `clamdscan` is still looking for `/opt/etc/clamd.conf` (what I believe is the default config file location, and which doesn't exist in my environ

[2021-02-15 16:21] kylefarris commented on #66
Hey @chris-maclean, it looks like you've likely found the issue and have the perfect test bed to write up the PR for this issue. Please, if you have time, make the necessary changes and tests and I'll be more than happy to merge the PR.

Thanks for the bug report!

[2021-04-27 11:10] hellovietduc opened #69 "Scanning files with passthrough times out"
## Describe the bug

I'm implementing a function that receives a file URL, creates a readable stream with `axios`, and then pipes that stream to `clamscan` with the `passthrough` method. However, I always receive `COMMAND READ TIMED OUT` in the debug logs and `is_infected` is `null`. It usually takes around 3 minutes to respond.

## Code to reproduce

This is the simplified code.

[code]

Debug lo

[2021-04-27 11:18] hellovietduc commented on #69
I have a theory and a suggestion:
- Theory: `axios` returns a stream that lacks some metadata. It's not the same stream we get from reading a local file. Need confirmation on this.
- Suggestion: Since we do emit `timeout` errors, could we also handle this particular case and emit a `timeout` error instead of returning `is_infected` `null`?

[2021-04-27 16:32] kylefarris commented on #69
Hey @hellovietduc! That's interesting... I've never seen this issue before. I've actually never even seen that particular message/result string at all before.

What's even more interesting is that this module _does_ handle timeouts from the Socket connection but, in your case, it doesn't seem that the connection is actually getting closed from a timeout otherwise you'd see: `Connection to host/soc

[2021-04-28 04:07] hellovietduc commented on #69
@kylefarris Thanks for this. But what do you think is the cause that leads to this timeout? Is it how I pass a stream directly from `axios` to `passthrough` or is it the [docker-clamav](https://github.com/mko-x/docker-clamav) that I'm using?

[2021-05-05 15:13] kylefarris commented on #69
I'm not sure what's causing the timeout--haven't seen this before.

I'm not going to be able to accept your PR since it's not going to work the way you think. I have a new branch and draft PR I'm working on that will properly emit a `timeout` event when expected. but Travis-CI just isn't cooperating (the tests run fine locally). I've tried to switch to GitHub Actions but I'm having different issue

[2021-05-05 16:12] #64 closed

[2021-05-05 16:12] #69 closed

[2021-05-05 16:24] #65 closed

[2021-05-05 19:15] kylefarris commented on #66
Fixed with #73

[2021-05-05 19:15] #66 closed

[2021-05-06 01:40] hellovietduc commented on #69
Thank you.

[2021-05-07 17:21] kylefarris commented on #69
@hellovietduc Also, for what it's worth, you don't need to use the `passthrough` method if you are not sending the requested file somewhere else (Examples: writing to disk, sending to S3, etc...).  If you want to just scan a stream, use the `scan_stream` method as it's much simpler to implement.

[2021-06-16 03:15] vhonLopez opened #75 "Node Module index.js 'os' not found"

[2021-08-05 09:34] mzaidse opened #76 "Error: spawn /usr/bin/clamdscan --no-summary --fdpass --multiscan /usr/src/app/scandir ENOENT"
# When running clamscan inside clamav docker container (Alpine based), it is giving error.

## Steps to reproduce

* Create Docker file
[code]

* Create DockerCompose file
[code]

* NodeJs App
[code]

## Error
[code]

[2021-08-11 16:44] kylefarris commented on #76
Try running `which clamdscan` on your terminal to see what the path to the executable is. If it's not `/usr/bin/clamdscan`, then you need to specify the correct path when you initialize.

[code]

The full list of config options can be found here: https://github.com/kylefarris/clamscan#getting-started

[2021-08-11 16:46] kylefarris commented on #75
This module can only be ran in Node.js. The `os` module is build-in Node.js:
https://nodejs.org/dist/latest-v16.x/docs/api/os.html

[2021-08-11 16:46] #75 closed

[2021-09-21 14:49] I2olanD opened #77 "Clamdscan throwing error on local run"
Hey,

currently i'm building a node express server which is currently just running locally. When i try to scan a file / folder it always resolves into an error:

----------- SCAN SUMMARY -----------
Infected files: 0
Total errors: 1
Time: 0.000 sec (0 m 0 s)
Start Date: 2021:09:21 16:45:55
End Date:   2021:09:21 16:45:55
FAIL: 2

cmd: /usr/local/bin/clamdscan --no-summary --fdpass --remove --confi

[2021-09-21 15:13] #77 closed

[2021-09-21 15:43] #76 closed

[2021-09-21 15:45] #34 closed

[2021-09-21 15:45] #61 closed

[2021-09-21 15:47] kylefarris commented on #13
Passing in file streams is no possible with the `scanStream` method. That should likely resolve this issue.

[2021-09-21 15:47] #13 closed

[2021-10-05 02:22] Shintu-J-Thattakunnil opened #79 "Consider returning stdout and stderr in the error object data property"
Right now within the is_infected method if the clam scan fails there is no way to know the exact error from the daemon

[2021-10-05 15:13] kylefarris commented on #79
I'll take a look.

[2021-10-05 15:26] Shintu-J-Thattakunnil commented on #79
Thank you. Please let me know if you need more info.

[2021-10-26 20:37] sjcotto opened #80 "Docker support"
Hi, nice repo

Any plans to add a docker image ready to use with the API and clamav binary inside?

[2021-11-10 05:52] nitinrgoyal opened #81 "3.8 GB file gives issue - RangeError [ERR_OUT_OF_RANGE]: The value of "value" is out of range"
Using latest version of clamscan, I am getting the following error when I try to load a 3.8 GB file.

node-clam: Provided stream is readable.
node-clam: Attempting to establish socket/TCP connection for "scanStream"
node-clam: using local unix domain socket: /var/run/clamav/clamd.ctl
internal/buffer.js:69
    throw new ERR_OUT_OF_RANGE('value', range, value);
    ^

RangeError [ERR_OUT_OF_RANGE]:

[2021-11-10 14:34] kylefarris commented on #81
It seems like the buffer is filling up faster than it can be offloaded to the downstream target. Can you share the relevant part of your code?

[2022-01-13 14:56] Ockejanssen opened #82 "node 16 and aws-sdk"
When using node 16 the following code fails with
Error [ERR_MULTIPLE_CALLBACK]: Callback called multiple times
It does not happen on node 14.

It seems to be a problem with the highWaterMark. When it is low enough, it works.

const fs = require('fs');
const NodeClam = require('clamscan');

const {Writable} = require('stream');

class MyWritable extends Writable {
  constructor(options) {
    super

[2022-01-15 18:28] aligoren opened #84 "Clam API Server"
Hi. I created a repository based on this repository.

https://github.com/aligoren/clamav-api-server

I mentioned your repository. Do I have anything else to do? Or do you want to give me suggestions?

Thanks for this repository. You did a great thing!

[2022-01-19 13:21] reshmpk1 opened #85 "Occasionally getting the 502 Proxy error while running this clamscan service on the Prod server."
I am getting this below mentioned error some times on our stage and production server:
--------------------------------------------------------------------------------------
<title>502 Proxy Error</title>
</head>
<body>
    <h1>Proxy Error</h1>
    <p>The proxy server received an invalid
        response from an upstream server.<br />
The proxy server could not handle the request<p>Reason: <strong

[2022-02-14 21:03] Annubis45 opened #87 "scanDir do not return an array of files"
The result of doesn't return arrays of good files and bad files.
It returns an array with the path scanned.

[2022-02-14 21:09] kylefarris commented on #87
Please refer to the docs: https://github.com/kylefarris/clamscan#note

**Relevant passage:**

[2022-02-14 21:09] #87 closed

[2022-02-14 21:13] kylefarris commented on #82
I'm running low on bandwidth at the moment. I'm very open to pull requests. The source is pretty straightforward and well-documented. I'll have to address this sooner or later as we have production services that use clamscan that need to be updated to node 16.

But, yeah... any help would be great!

[2022-02-14 21:15] kylefarris commented on #85
It's hard to help you without a better idea of how you have everything setup, your network/server topology, etc... I'll help if I can but I need more info.

[2022-02-15 12:51] reshmpk1 commented on #85
**We have Akamai proxy in front of the LB and behind the LB 2 VMs are there.**

**The integrated code:**
/// **libraries/clamscanner.js**
const fs = require("fs"),
  NodeClam = require("clamscan");
class ClamScanner {
  constructor() {
    this.filePath = `${process.env.PWD}/temp/`;
    this.options = {
      debugMode: false,
      clamdscan: {
          host: 'xxx.x.x.x',
          port: xxxx,

[2022-02-15 16:52] kylefarris commented on #85
You have to proxies. The Akamai one and the Apache one. Do you know which proxy is having the issue. What kind of requests are you making? You're running a node server obviously, so, are you able to hit any endpoints on that service? Maybe just a basic "Hello World" endpoint? If that doesn't work, then this is outside the scope of this project. If it's only happening on endpoints involving this li

[2022-02-16 09:52] ngraef commented on #82
See discussion on https://github.com/nodejs/node/issues/39535. This is caused by a behavior change in node 16 that tried to support Promise-returning stream implementation methods. That behavior was quickly deprecated because of the issues it caused. The error occurs when you try to return a Promise (async) and call the callback in the same function, like here in `passthrough()`'s `Transform` impl

[2022-02-17 16:35] #82 closed, assigned to nobody

[2022-02-18 17:49] #80 closed, assigned to nobody

[2022-02-20 22:01] Annubis45 commented on #87
Hi,

Here my code:

[code]

and the result is :

[code]

files directory is :
---files
----- Attachment
-----------file1
-----------file2
-----------file3
----- ContentVersion
-----------file4
-----------file5

[2022-02-21 19:55] kylefarris commented on #87
You would need to set `scanRecursively` to `true` if you want to see the individual files that are infected.

[2022-02-22 20:47] kylefarris opened #91 "Fix code scanning alert - Inefficient regular expression"
Tracking issue for:
- [ ] https://github.com/kylefarris/clamscan/security/code-scanning/1

[2022-02-22 20:50] #91 closed

[2022-02-24 00:09] Annubis45 commented on #87
Thank you for your answser.

When I set scanRecursively to true, I get this error:

[code]

[2022-02-24 20:25] Annubis45 opened #92 "execFile & Clamdscan result parsing"
On my configuration (Ubuntu 18.04.6 LTS, ClamAV 0.103.5),
A scanfile lead to the execution of line 1555:
`execFile(command, (err, stdout, stderr) => {`
and lead to an error. Shouldn't it be:
`  execFile(self.settings[self.scanner].path, self._buildClamArgs(items), (err, stdout, stderr) => {
`

when I do it its works better but I have another issue:
The result of a clamdscan is :

[code]

So, when

[2022-02-28 19:11] kylefarris commented on #92
Looking into this.

[2022-03-01 18:21] kylefarris commented on #92
`execFile(self.settings[self.scanner].path, self._buildClamArgs(items), (err, stdout, stderr) => {`

Yes, it absolutely should, thank you!

[2022-03-01 21:48] #92 closed

[2022-03-01 21:51] kylefarris commented on #92
New release v2.0.6 should fix your issue. Please let me know if it doesn't and we can re-open this issue.

[2022-03-04 19:18] kylefarris commented on #87
That can't be the entire error. That's just the stacktrace showing where the error was thrown. I'd need to know what error was actually thrown here as the could be any number of things.

[2022-03-07 08:27] Annubis45 commented on #87
Hi,

I restarted eveything from scratch:

my code:

[code]

My directory :
---filesdir
----- rep1
-----------file1
-----------file2
----- rep2
-----------file1
-----------file2

And the result:
[code]

And when I put breakpoints in callback functions, I never reach it.

I also tried the promise syntaxe and stay stuck in it. I got the same result and never reach the next line.
[code]

I'm sorry if

[2022-03-07 08:28] Annubis45 commented on #92
seems good, thanks a lot !

[2022-03-07 09:25] Annubis45 commented on #87
My analyse is :
scandir need a resolve/reject result, but when I call it with my option, it does:
scandir ==>  scanFiles ==> doscan  ==> ...

Scandir return a promise that make a "return scanfile(...)"  and scanfile return a promise (line 1978)
So, my guess is  the promise of scandir is never resolved.

line 1978 :
`return this.scanFiles(files, endCb, fileCb);`

IMO, it should be replaced by somet

[2022-03-19 06:18] kylefarris commented on #87
FTR, this issue was fixed in v2.1.1.

[2022-04-16 15:17] BobbyWibowo opened #99 "Chunked passthrough?"
A `WriteStream` created with `fs.createWriteStream()` accepts `a` flag, which allows the stream to be appended ([doc](https://nodejs.org/docs/latest-v16.x/api/fs.html#file-system-flags)), via `Stream.pipe(writeStream, { end: false })`
This facilitates the so-called "chunked uploads", where a file that needs to be uploaded is first split at client's end
Each chunks are then sent to the server, sequ

[2022-05-03 12:54] project-administrator commented on #81
No, it's writeInt32BE function failing in one of these places:
https://github.com/kylefarris/clamscan/search?q=writeInt32BE

It cannot process value bigger than 4 bytes signed integer:
[code]

[2022-05-11 09:13] imndaiga opened #100 "Frequent failed clamAV scan fails"
I'm currently running a container-based, AWS lambda that is configured to download a file from S3 and scan the file before further processing downstream. I have stumbled on this issue where the clamscan module fails repeatedly with ClamAV `null` errors (it successfully scans for the most part). The reported error is as follows

[code]

I've configure this to run in clamscan mode, but have not set

[2022-06-08 08:12] martijnvanderwoud opened #101 "Premature end of ClamAV socket stream behind telepresence proxy"
Hello and thanks for providing this library!

I have an issue that is very problematic per se, but still it might be useful to report it, because maybe it could help uncover a subtle (timing?) issue with the ClamAV socket connection

When I use the `scanStream` method like this ...:

[code]

... the scan fails with an empty response when I am behind a [telepresence](https://www.telepresence.io/) p

[2022-07-26 15:29] HanojHanu opened #102 "Clamav file size limit - throw custom error"
# For such errors - Clamav file size limit

Are you throwing with an exact error message?

![image](https://user-images.githubusercontent.com/53425981/181045622-0b97f8a7-2476-4fea-9436-5b5515955bd4.png)

---
# Expecting

Somehow it should return the same error message to us
![image](https://user-images.githubusercontent.com/53425981/181046230-640a1d08-643d-459a-b599-9760f7cd2965.png)

This WARNING

[2022-07-26 15:31] HanojHanu commented on #102
Hi @kylefarris,

Please can you help me

[2022-07-26 15:32] HanojHanu commented on #102
Hi @SaltwaterC, @genio, @ngraef

its urgent to me

[2022-07-27 10:11] benzino77 commented on #102
I'm observing the same situation (clamd v0.104 and clamd v0.105). What I can say is that sometimes it is `rejected` on `socket.error` and sometimes it  is `resolved` with `NodeClamError`:

Reject example:
[code]

and here is Resolve with NodeClamError example:

[code]

[2022-07-28 13:00] benzino77 commented on #102
I have investigated it a little bit more, and it looks like it can be a problem on `clamscan` side (don't know where exactly).
Calmav is calling function `handle_stream` to process the network payload ([link](https://github.com/Cisco-Talos/clamav/blob/a21cc6dcd7f93ad7418ea6c2f1e01612e23fc36e/clamd/server-th.c#L1651)). If the payload exceeds `StreamMaxLength` the `handle_stream` function:
1. [calls

[2022-07-28 14:50] kylefarris commented on #102
@benzino77 If you have any spare time to look into how to resolve the issue of `clamscan` not receiving/processing the info consistently and submit a PR, I'd be very grateful. At the moment, I'm just a bit overloaded with a million other projects.

[2022-07-28 15:24] benzino77 commented on #102
No problem. I will make PR with proposition.

[2022-07-29 05:41] HanojHanu commented on #102
@benzino77 - Thanks for spending some time here - to help us! 😊

[2022-07-29 05:51] HanojHanu commented on #102
Definitely, this approach going to help us. therefore we can notify such error in our services & then we'll throw based that to my client request

@benzino77 @kylefarris
Once Again - Thank you guys ( For your Support ).

Looking forward to this PR 🏳

[2022-07-29 11:42] davecozens opened #103 "Socket times out when remote scanning EICAR test file"
Whenever I try to test a virus positive EICAR test file I get a socket timeout. Virus negative files work fine.

[code]

I get the following output:
[code]

Negative file gets the following output from the same server
[code]

[2022-07-29 14:41] kylefarris commented on #103
Can you clone the repo directly, CD to it, and then `npm i`, and then run `npm run test`? Do all the tests pass?

Kyle

[2022-07-29 14:44] kylefarris commented on #101
@martijnvanderwoud I don't really have the platform to test this specific issue. If you have the time and bandwidth to look into the solution for this issue, I'd be more than happy to work with you towards merging a fix through a PR.

[2022-07-29 14:54] kylefarris commented on #100
Not necessarily sure why there's no error **code**, per se, but the error itself is logged and its saying that the command (`/usr/bin/clamscan --no-summary --stdout --remove=no --scan-archive=yes -r /tmp/cc05801c-5e71-4113-8239-8939e636d0d1.jpeg`) has failed to execute which would indicate that clamscan (not this package) is not setup correctly on the host. Now, since you're running this in Lambda

[2022-07-29 15:23] kylefarris commented on #99
What you're asking for is already happening. Node handles chunking automatically. You can choose to implement a Writable Stream anyway you like. Remember, the endpoint is not always a file--it could be another service that accepts streams, for instance. A simple example would be that you could use the `passthrough` method to pipe a file upload stream through clamscan and then into `zlib` to compre

[2022-07-29 16:28] davecozens commented on #103
They don't. I'm using node v16.

[code]

[2022-07-29 16:41] kylefarris commented on #103
Those errors seem to indicate a misconfiguration of your clamd host or possibly a permissions or SELinux issue. Are you able to scan files using `clamdscan` on the command line? For example `clamdscan someFileName`?

[2022-07-29 17:29] davecozens commented on #103
It's deployed to AWS Fargate from Docker image tquinnelly/clamav-alpine:latest so I don't have command line access.

But it's odd that a regular text file scan returns OK, it's just the EICAR test file that throws the error... There's also nothing in the logs

[2022-07-30 10:13] benzino77 commented on #102
Now I start thinking that it can be `clamd` problem. I've performed some tests on `v0.103.6 clamd` and it looks like `clamscan` is detecting socket error (write EPIPE), before any information is send back by `clamd` (that stream size limit is exceeded) almost every time (much, much more often than for `v0.104.x` or `v0.105.x`).

I'm starting my holidays so I will get back to this when I'll be back

[2022-08-01 09:17] martijnvanderwoud commented on #101
@kylefarris Sure, if you can point me in the right direction on what could cause the issue and how it could be fixed (I have no clue at the moment), I would be happy to spend some time testing/debugging this

[2022-08-01 14:18] kylefarris commented on #102
Thank @benzino77. Enjoy your holidays.

[2022-08-01 14:27] kylefarris commented on #103
Yeah man, I took a look through https://github.com/tquizzle/clamav-alpine and I just don't know enough about that setup and without anyway to test it outside of the use of the package, it makes it very difficult to narrow down the cause.

With that being said, the package is running and passing tests on my Linux and MacOS machines (non-Docker) without a problem.

[2022-08-01 14:41] BobbyWibowo commented on #99
Hi there,

The deal is that the file is split on the client's end into multiple chunks of bytes, which then gets uploaded one by one, on their own POST requests

So each incoming request's ReadStream is not a complete file, but instead just a chunk of bytes

---

Here's the rough description of how it works:

First I'll initiate a WriteStream for an output physical file, with `flags: 'a'` option f

[2022-08-01 14:49] kylefarris commented on #101
One thing that stands out as quite odd and almost-certainly unnecessary is this block of code in your examples:

[code]

Try converting your Buffer to a Readable stream directly (Node 10.17.0 and up) and then pass that to `scanStream`:

[code]

[2022-08-01 15:01] davecozens commented on #103
Would you recommend another docker image?
D

On Mon, Aug 1, 2022 at 3:27 PM Kyle Farris ***@***.***> wrote:

[2022-08-01 15:02] kylefarris commented on #103
I don't really use Docker so, unfortunately, I don't.

[2022-08-01 15:21] martijnvanderwoud commented on #101
@kylefarris Thanks, that is much simpler indeed. I had to install `@types/node` as a devDependency before I could use the Readable.from method. Unfortunately, the result is still the same:

[code]

[2022-08-01 16:00] kylefarris commented on #101
Well, that stinks. At least your code is prettier now, haha.

[2022-08-01 16:04] kylefarris commented on #101
As awful as it might sound, it looks like you're just going to have to drop some `console.log` lines in the `node_modules/clamscan/index.js` file of your project and just do some good ol'-fashioned debugging.

[2022-08-01 16:10] martijnvanderwoud commented on #101
I already stepped through that code with my debugger, but was not able to detect the cause of the issue. Of course it does not help that I am not familiar with the code, which makes it hard to spot unintended behaviour. Maybe, if you have the time, and if you think it is worth the effort, I could share my screen during a debug session and we can take a look together?

[2022-08-01 16:48] kylefarris commented on #101
Yeah, sorry about that. I see where you were talking about walking through the code and how you found out at what point it seemed to be failing. Of course, that part is gone now 😬.

Where is your instance of ClamAV? A remote server?

[2022-08-01 16:56] martijnvanderwoud commented on #101
My instance of ClamAV is running inside a Kubernetes cluster. Locally, I deploy it to a single-node cluster created with minikube

[2022-08-01 17:22] kylefarris commented on #101
So, you connect to it in your code with an IP & port, correct? And, if so, is the proxy situated between your code and the ClamAV instance?

[2022-08-01 19:41] martijnvanderwoud commented on #101
Yes, that is correct, I connect to ClamAV with an IP (well, a host name, actually) and a port. The IP is a virtual IP assigned by the Kubernetes network proxy (see https://kubernetes.io/docs/concepts/services-networking/service/#virtual-ips-and-service-proxies). Normally, this IP is resolved within the internal network of the Kubernetes cluster, and it is not reachable from outside the cluster. In

[2022-08-02 02:51] BobbyWibowo commented on #99
Thank you for the thorough explanation

I see, that does make sense

The random idea I wrote in the original post:

would not really make much sense either, now that I think about it

By that point, you'd simply be either wastefully keeping extra temp physical files for the withheld bytes, or simply ending up with more memory usage if they are simply being withheld in memory

Perhaps I'll just use

[2022-08-02 02:51] #99 closed

[2022-08-02 14:10] kylefarris commented on #99
Okay. Yeah, in your use-case, I think that's gonna be the best way forward. Have a good one!

[2022-08-12 08:50] martijnvanderwoud commented on #101
Do you still want to proceed with this issue @kylefarris ?

[2022-08-15 14:52] kylefarris commented on #101
I don't have the bandwidth or setup to test and fix this issue right now. If you do, please see if you can fix it and submit a PR.

[2022-08-15 15:02] martijnvanderwoud commented on #101
As I said earlier, I need a shared debug session or at least some pointers from you before I can work on this. Un-assigning myself for now